.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8);

  font-size: var(--font-size-m);
  font-weight: 600;
  line-height: var(--line-height-m);

  border: none;
  box-shadow: none;
  background: transparent;

  color: var(--gray-500);
}

.icon {
  width: var(--spacing-16);
  height: var(--spacing-16);
}
