.root {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--background);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-16) 0 var(--spacing-32);

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.logoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-6);

  @media (min-width: 768px) {
    gap: var(--spacing-12);
  }
}

.logoIcon {
  --logo-icon-size: 22px;

  width: var(--logo-icon-size);
  height: var(--logo-icon-size);

  display: block;
  color: var(--green-600);

  @media (min-width: 768px) {
    --logo-icon-size: 44px;
  }
}

.logoText {
  --logo-text-width: 61.5px;
  --logo-text-height: 11.5px;

  width: var(--logo-text-width);
  height: var(--logo-text-height);

  display: block;
  color: var(--gray-900);

  @media (min-width: 768px) {
    --logo-text-width: 123px;
    --logo-text-height: 23px;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--foreground);
  }
}
