.root {
  width: var(--spacing-32);
  height: var(--spacing-32);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--gray-100);

  background-color: var(--white);
  color: var(--gray-600);
}

.icon {
  width: var(--spacing-16);
  height: var(--spacing-16);
}
