.root {
  width: var(--spacing-32);
  height: var(--spacing-32);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--spacing-6);
  border: 1px solid var(--gray-100);

  background-color: var(--white);
  box-shadow: 0px 1px 2px 0px var(--gray-900-05);
  color: var(--gray-600);
}

.icon {
  width: var(--spacing-16);
  height: var(--spacing-16);
}
