:root {
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-32: 32px;
  --spacing-120: 120px;
  --spacing-160: 160px;

  --padding-body: var(--spacing-16) var(--spacing-16) var(--spacing-120);
  @media (min-width: 768px) {
    --padding-body: var(--spacing-32) var(--spacing-160) var(--spacing-120);
  }

  --white: #ffffff;

  --green-600: #099250;

  --gray-25: #f2f4f7;
  --gray-50: #eaecf0;
  --gray-100: #d0d5dd;
  --gray-300: #98a2b3;
  --gray-400: #667085;
  --gray-600: ##344054;
  --gray-900: #101828;
  --gray-900-05: #1018280d;
  --gray-900-24: #1018283d;

  --background: var(--white);
  @media (prefers-color-scheme: dark) {
    --background: var(--gray-900);
  }

  --foreground: var(--gray-900);
  @media (prefers-color-scheme: dark) {
    --foreground: var(--white);
  }

  --text-color-primary: var(--foreground);

  --text-color-secondary: var(--gray-400);
  @media (prefers-color-scheme: dark) {
    --text-color-secondary: var(--gray-25);
  }

  --font-size-l: 16px;
  @media (min-width: 768px) {
    --font-size-l: 18px;
  }

  --font-size-xxl: 30px;
  @media (min-width: 768px) {
    --font-size-xxl: 48px;
  }

  --line-height-l: 1.25;
  @media (min-width: 768px) {
    --line-height-l: 1.5;
  }

  --line-height-xxl: 1;
  @media (min-width: 768px) {
    --line-height-xxl: 1.25;
  }

  --letter-spacing-narrow: -0.02em;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: var(--padding-body);

  color: var(--text-color-primary);
  background: var(--background);

  font-family: var(--font-fixel-text), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
