.root {
  display: block;
  padding-bottom: var(--spacing-16);

  border-bottom: 1px solid var(--gray-50);
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--font-fixel-display), sans-serif;
  font-weight: 600;
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
  letter-spacing: var(--letter-spacing-narrow);
}
